.dropdownButton1{
  background-color: #F2DA63;
  color: black;
}

.dropdownButton2{
  background-color: #D9910B;
  color: black;

}

.dropdownButton{
  background-color: #F2B90C;
  color: black;

}

.my-button:not(:disabled):not(:disabled):active {
  background-color: #D9910B;
}

@media (max-width: 576px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-button,
  .searchbar {
    flex: 1;
    margin: 5px;
    max-width: 100%;
  }



  .input-group {
    width: 100%;
  }
}
