<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column d-flex justify-content-center pe-4 border-end position-sticky top-0">
      <nav class="nav nav-pills flex-column d-flex align-items-center">
        <a class="nav-link" (click)="scrollToElement('name')">Nume</a>
        <a class="nav-link" (click)="scrollToElement('region')">Regiune</a>
        <a class="nav-link" (click)="scrollToElement('preptime')" *ngIf="recipe.prepTime !== '' && recipe.prepTime !== 'NA'">Timp de preparare</a>
        <a class="nav-link" (click)="scrollToElement('ingredients')">Ingrediente</a>
        <a class="nav-link" (click)="scrollToElement('preptype')">Tip</a>
        <a class="nav-link" (click)="scrollToElement('history')" *ngIf="recipe.history !== '' && recipe.history !== 'NA'">Istorie</a>
        <a class="nav-link" (click)="scrollToElement('prepmode')">Mod de preparare</a>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
      <div id="name">
        <h4>Nume</h4>
        <p></p>
      </div>
      <div id="region">
        <h4>Regiune</h4>
        <p></p>
      </div>
      <div id="preptime" *ngIf="recipe.prepTime !== '' && recipe.prepTime !== 'NA' ">
        <h4>Timp de preparare</h4>
        <p> {{recipe.prepTime}} </p>
      </div>
      <div id="ingredients">
        <h4>Ingrediente</h4>
        <p></p>
      </div>
      <div id="preptype">
        <h4>Tip</h4>
        <p></p>
      </div>
      <div id="history" *ngIf="recipe.history !== '' && recipe.history !== 'NA'">
        <h4>Istorie</h4>
        <p> {{recipe.history}} </p>
      </div>
      <div id="prepmode">
        <h4>Mod de preparare</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>

