<nav class="navbar bg-body-tertiary navbar-expand navbarColor">
  <div class="container-fluid d-flex flex-column align-items-center">
    <div class = "d-flex justify-content-center">
      <app-filter-button [TipButon]="TypeRegiune" (checkedValuesButton)="onCheckedValuesChangedButton($event)"></app-filter-button>
      <app-filter-button [TipButon]="TypeTip" (checkedValuesButton)="onCheckedValuesChangedButton($event)"></app-filter-button>
      <app-searchbar [recipes]="recipes" (selectedRecipe)="onSelectedRecipe($event)"></app-searchbar>
    </div>
  </div>
</nav>
<p *ngFor="let filter of filters">{{filter}}</p>
<p >{{recipe | json}}</p>
