/* You can add global styles to this file, and also import other style files */
$main-color: #F2DA63;
$secondary-color: #F2B90C;
$accent-color: #D9910B;
body{
  background-color: $main-color;
  height: 100%;
  margin: 0;
  padding: 0;
}
